.main-header {
  display: flex;
  flex: auto;
  flex-flow: row wrap;
  height: 6rem;
  max-width: 1280px;
  margin: auto;
  background-color: #2389ff;
}

h1 {
  padding-left: 45px;
  width: 30em;
}

h2 {
  background-color: #b8b8b8;
  padding-left: 45px;
  width: 100%;
  order: 4;
}

a {
  padding: 10px 20px 10px 20px;
}
