.content-container {
  outline: 1px solid #000;
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

#title-container {
  display: flex;
  border-bottom: solid #000;
}

#main-content {
  display: flex;
  height: 75vh;
}
