.content-container {
  max-width: 1280px;
  margin: auto;
  padding: 0 2rem;
}

#title-container {
  display: flex;
  background-color: #fcff40;
}

#main-content {
  display: flex;
  height: 75vh;
  background-color: #82c2ff;
}
